@use '/src/scss/colors.scss';

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: colors.$theme-background;
  text-align: center;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

footer h1 {
  font-size: 34px;
  display: block;
  font-weight: 900;
  padding-bottom: 5px;
}

footer p {
  font-size: 22px;
  display: block;
  font-weight: 400;
}

#footer {
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #505050;
}

@media screen and (max-width: 600px) {
  footer {
    position: relative;
  }

  footer h1 {
    font-size: 22px;
  }

  footer p {
    font-size: 16px;
  }
}
