@use '/src/scss/colors.scss';

.homeSection {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: 'Roboto';
  &__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: colors.$theme-background;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: #000 5px 5px 10px;
  }
  &__nameContainer {
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 0px 0px 20px 0px;
    color: colors.$theme-text;
  }
  &__select {
    padding: 5px;
    font-size: 26px;
    box-shadow: #000 1px 1px 5px;
    border: none;
    outline: none;
  }

  &__selects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  &__formBox {
    width: 100%;
  }
  &__selectsLables {
    display: flex;
    flex-direction: column;
  }
  &__sectionBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 20px;
  }
  &__dataError {
    font-size: 20px;
  }
  &__submitBtn {
    width: 100%;
    font-size: 24px;
    padding: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    box-shadow: #000 1px 1px 5px;
    outline: none;
    border: none;
    transition: 0.2s;
  }
  &__submitBtn:enabled:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(185, 185, 185);
    color: #fff;
    letter-spacing: 6px;
  }
  &__submitBtn:disabled {
    cursor: not-allowed;
  }
  &__labelsSelect {
    font-size: 22px;
    padding: 0px 0px 10px 0px;
    letter-spacing: 3px;
    color: colors.$theme-text;
  }
  &__lectureList {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: colors.$theme-text;
  }
  &__lectureAndDay {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__lectureBox {
    // border: 1px solid black;
    width: 30%;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px #000;
    border-radius: 6px;
  }
  &__lectureContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 100px;
    color: #fff;
  }
  &__today,
  &__tommorow {
    display: flex;
    flex-direction: column;
  }
  .lect {
    background-color: #784bc1;
  }
  .prac {
    background-color: #212121;
  }
}

@media screen and (max-width: 1000px) {
  .homeSection {
    &__selects {
      flex-direction: column;
    }
    &__container {
      width: 95%;
    }
    &__nameContainer {
      font-size: 22px;
      text-align: center;
    }

    &__lectureList {
      flex-direction: column;
      gap: 20px;
    }
    &__lectureBox {
      width: 100%;
    }
  }
}
